$backgroundColor: #000000;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

html, body {
  margin: 0;
  overflow: hidden;
}

.container {
  display: block;
  overflow: hidden;
}

canvas {
  margin: 0;
  padding: 0;
  vertical-align: top;
}

#stopMusic {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 2.5%;
  min-width: 30px;
  min-height: 30px;
  padding: 0 0 2.5% 0;
  border-width: 1px;
  background-color: Maroon;
  cursor: pointer;
}

#stopMusic:hover {
  background-color: red;
}

.loaderContainer{
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.loaderText {
  display: inline-block;
  vertical-align: middle;
  color: #f3f3f3;
  margin: 0 10px;
}

.loader {
  display: inline-block;
  border: 7px solid #f3f3f3; /* Light grey */
  border-top: 7px solid darkgrey;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  vertical-align: middle;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}