$backgroundColor: #000000;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

html, body {
  margin: 0;
  overflow: hidden;
}

.container {
  display: block;
  overflow: hidden;
}

canvas {
  margin: 0;
  padding: 0;
  vertical-align: top;
}

#stopMusic {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 2.5%;
  min-width: 30px;
  min-height: 30px;
  padding: 0 0 2.5% 0;
  border-width: 1px;
  background-color: Maroon;
  cursor: pointer;
}

#stopMusic:hover {
  background-color: red;
}

.loaderContainer{
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.loaderText {
  display: inline-block;
  vertical-align: middle;
  color: #f3f3f3;
	font-size: 18px;
  margin: 0 10px;
	white-space: nowrap;
	overflow: hidden;
	max-width: 100%;
}

.loaderText.complete {
	max-width: 0;
	opacity: 0;
	transition: max-width 800ms linear, opacity 800ms;
}

.loaderCircle {
  display: inline-block;
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid darkgrey;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 2s linear infinite;
  vertical-align: middle;
}

.loaderCircle.complete {
	border-color: green;
	transition: border 400ms ease-out;
  animation: spin 1s linear 1;
}

.loaderCheckmark {
	width: 0;
	height: 0;
  left: 12px;
  top: 17px;
	opacity: 0;
  content: "";
  border-right: 2px solid green;
  border-top: 2px solid green;
  position: absolute;
}

.loaderCheckmark.draw {
	animation-duration: 2000ms;
  animation-timing-function: ease;
	animation-fill-mode: forwards;
  animation-name: drawCheckmark;
  transform-origin: left top;
  transform: scaleX(-1) rotate(135deg);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes drawCheckmark {
  0% {
    height: 0;
    width: 0;
		opacity: 0;
  }
	60% {
    height: 0;
    width: 0;
		opacity: 0;
  }
  75% {
    height: 0;
    width: 4px;
		opacity: 1;
  }
  100% {
    height: 9px;
    width: 4px;
		opacity: 1;
  }
}